/*轮番图*/
    .fig img{
        width: 1400px;
        height: 300px;
    }
    .fig{
        position: relative;
        margin: 0px auto;
        width: 1400px;
        height: 300px;
        text-align: center;
        /*隐藏列表前面的点*/
        color: #ffffff;
        overflow: hidden;
    }
    .fig ul{
        /*border: black solid 1px;*/
        margin: 0px 0px;
        padding: 0;
        width: calc(1400px * 3);
        transition: all .5s;
    }
    .fig li{
        float: left;
        width: 1400px;
        height: 300px;
        list-style: none;
        line-height: 300px;
        font-size: 50px;
    }
    .fig li:nth-child(1)
    {
        background-color: red;
    }
    .fig li:nth-child(2)
    {
        background-color: blue;
    }
    .fig li:nth-child(3)
    {
        background-color: green;
    }
    .fig input[name="button"]
    {
        display: none;
    }
    .fig label[for^="button"]
    {
        position: absolute;
        top: 250px;
        width: 20px;
        height: 20px;
        margin: 0px 10px;
        line-height: 20px;
        color: #ffffff;
        background-color: #ffffff;
        cursor: pointer;
        border-radius: 50%;
        transition: .3s;
    }
    .fig label[for="button1"]{
        left: 40%;
    }
    .fig label[for="button2"]{
        left: 45%;
    }
    .fig label[for="button3"]{
        left: 50%;
    }
    .fig #button1:checked ~ul{
        margin-left: 0;
    }
    .fig #button2:checked ~ul{
        margin-left: -1400px;
    }
    .fig #button3:checked ~ul{
        margin-left: -2800px;
    }
    .fig #button1:checked ~ label[for="button1"]{
        background: royalblue;
    }
    .fig #button2:checked ~ label[for="button2"]{
        background: royalblue;
    }
    .fig #button3:checked ~ label[for="button3"]{
        background: royalblue;
    }